<div class="navbar-lewagon mb-5 p-3">
  <h1><%= @list.name %></h1>
</div>
<div class="container">


<div class="bookmarks">
  <%@list.movies.each do |movie|  %>
<div class="bookmark">
  <div class="poster">
    <%= image_tag movie.poster_url, alt: "Le Wagon", width: 200 %>
  </div>

  <div class=bookmark-infos>
      <%= movie.title %>
      <% bookmark = Bookmark.find_by(list: @list , movie: movie) %>
      <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you "}%>
  </div>

</div>
    <% end %>
</div>



</div>

<div class="footer">
<%= link_to "Add a film to bookmark", new_list_bookmark_path(@list), class:"btn btn-primary rounded" %>
<%= link_to "Go back to the list's list", root_path , class:"btn btn-warning rounded"%>
</div>
